@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div class="alert alert-success">
    <strong>Success! </strong>Your account has been activated successfully. Click here to <a asp-area="Identity" asp-page="/Account/Login"> Login</a>
</div>
